body{
	margin: 0;
	padding: 0;
	font-family:'Courier New', Courier, monospace;
    background: url(jnk.jpg);  
    background-size:cover; 
}


.box{
	width: 400px;
	padding: 40px;
	position:absolute;
	top: 50%;
	left: 100%;
	transform: translate(-50%,-50%);
	background: rgb(193, 74, 217);
	text-align: center;
}


.box h1{
	 color: white;
	 text-transform:uppercase;
	 font-weight :700 ;
}


.box input[type ="text"],.box input [type="password"]{
	border: 0;
	background: none;
	display :inline;
	margin: 20px auto;
	text-align: center;
	border: 3px solid;
	padding: 14px 10px;
	width: 220px;
	outline: none;
	color: white;
	border-radius: 24px;
    transition: 0.25ps;
}


.box input[type ="text"]:foucs,.box input [type="password"]:focus{
	width: 270px;
	border-color: #ffc400ec;
}


.box input[type="submit"]{
	border: 0;
	background: none;
	display :block;
	margin: 20px auto;
	text-align: center;
	border: 3px solid #ffc400ec;
	padding: 14px 10px;
	outline: none;
	color: white;
	border-radius: 24px;
    transition: 0.25ps;
    cursor: pointer;
}


.box input[type="submit"]:hover{
	background: #ffc400ec;
}